body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 15%;
  padding: 10px;
  border: groove 1px #ddd4d4;
  font-size: 18px;
  border-radius: 5px;
  font-family: Abhaya Libre;
  color: #ddd4d4;
}
.container {
  background: rgba(196, 196, 196, 0.22);
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0% 9%;
}

.form {
  margin: 0% 10%;
  height: 357px;
  /* Font police */
  text-align: center;

  display: block;
  margin-bottom: 30px;
  margin-top: 15px;
}

.field {
  border: 1px solid #ddd4d4;
  border-radius: 15px;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 2vh;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #ddd4d4;
}

label {
  color: #ddd4d4;
}

.submitBtn {
  margin-top: 10px;
  width: 50%;
  background-color: #ddd4d4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.submitBtn:hover {
  background-color: #ddd4d4;
}

hr {
  margin: 10%;
  color: #ddd4d4;
}

/*hr {
  width: 70%;

  position: absolute;
  left: 90px;
  top: 630px;
  border: 1px solid #ddd4d4;
  padding-left: 10%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 688px) {
  .desktop {
    display: none;
  }
  .container {
    display: flex;
    margin: 5%;
    justify-content: center;
    padding-top: 25px;
  }

  .hr {
    top: 1000px;
  }
}
