body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container form {
  position: absolute;
  width: 60%;
  text-align: center;
  padding: 10%;
  border: solid;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #c4c4c4;
  top: 220px;
}

.form {
  position: absolute;
  border: 1px solid #ddd4d4;
  border-radius: 10%;
  height: 350px;
  left: 40px;
  top: 246.44px;
  border: 2px solid #ddd4d4;
  background: rgba(196, 196, 196, 0.22);
}
h1 {
  position: absolute;
  width: 280px;
  height: 40px;
  left: 60px;
  top: 130px;
  font-family: 'Abhaya Libre';
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Font police */
  color: #ddd4d4;
  border: 2px solid grey;
  filter: drop-shadow(0px 4px 4px #ddd4d4(0, 0, 0, 0.267))
    drop-shadow(0px 4px 4px #ddd4d4(0, 0, 0, 0.103));
  color: #ddd4d4;
}

.field {
  border: 1px solid #ddd4d4;
  border-radius: 20px;
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #ddd4d4;
}

label {
  color: #ddd4d4;
}

.submitBtn {
  margin-top: 10px;
  width: 50%;
  background-color: #ddd4d4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.submitBtn:hover {
  background-color: #ddd4d4;
}

hr {
  position: absolute;
  width: 314px;
  height: 0px;
  left: 23px;
  top: 700px;
  border: 1px solid #ddd4d4;
  padding-left: 6%;
}

/* MEDIA QUERIES */
@media h screen and (min-width: 600px) {
}
