body {
  color: white;
}
.mainContainerProfilPage {
  display: flex;
  justify-content: center;
  margin: 40px 30px 0px 30px;
}
.secondContainerProfilPage {
  font-size: 9pt;
}
.synopsisContainer {
  font-size: 9pt;
  text-align: center;
  margin: 10px 0px 20px 0;
  line-height: 30px;
}
.filmContainer {
  line-height: 30px;
}

.distributionTitle {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}
.containerActorsPicturesOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filmDetailPicture {
  height: 30vh;
  margin-right: 10px;
}
.firstPicture {
  height: 200px;
  width: 160px;
  margin: 10px 0px 30px 0px;
}
.actorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trailer {
  display: flex;
  justify-content: center;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .filmDetailPicture {
    height: 700px;
    margin-right: 15px;
  }
  .secondContainerProfilPage {
    margin-right: 500px;
    line-height: 220px;
  }
  .synopsisContainer {
    font-size: 12pt;
  }
  .mainContainerProfilPage {
    display: flex;
    justify-content: center;
  }
  .synopsisContainer {
    text-align: inherit;
    margin: 20px 300px;
  }
  .trailer {
    display: flex;
    justify-content: center;
  }
  .firstPicture {
    height: 400px;
    width: 300px;
  }
  .containerActorsPicturesOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 900px) {
  .trailerMediaQ {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .trailer {
    display: none;
  }
}
