@import url('https: //fonts.google.com/share?selection.family=Abhaya%20Libre');
body {
  font-family: 'Abhaya Libre', serif;
}
.mainHomePicture {
  display: none;
}
.linkStyle {
  text-decoration: none;
  color: #938181;
  font-style: italic;
  font-size: 12pt;
  margin-top: 15px;
}
.movieMonth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.movieMonthTitle {
  font-size: 15pt;
  padding: 10px 10px;
}
.borderMovie {
  color: #c4c4c4;
  border: solid;
  border-radius: 10px;
  text-transform: uppercase;
}
.mainTitle {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: #c4c4c4;
  border-radius: 10px;
  margin: 30px;
  color: #c4c4c4;
  padding: 10px 20px;
}

.mainPara {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #c4c4c4;
  line-height: 15pt;
  margin: 0px 15px;
}
.quizzYes {
  display: flex;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  margin: 15px;
}
.quizzNo {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #c4c4c4;
  font-size: 9pt;
}
.pictureOfMonth {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 250px;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}
.comunityContainer {
  margin: 20px;
  display: none;
}

@media screen and (min-width: 760px) {
  .mainHomePicture {
    display: initial;
    object-fit: cover;
    height: 20vh;
    width: 100%;
  }
  .mainContainerHomePicture {
    margin: 0px 200px;
  }
  .containerMediaQ {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movieMonth {
    position: relative;
  }
  .movieMonthTitle {
    font-size: 13pt;
    padding: 0px;
  }
  .mainPara {
    width: 50%;
    display: flex;
    align-items: center;
    line-height: 25pt;
  }
  .mainContainerMediaQ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 87%;
  }
  .borderMovie {
    position: absolute;
    border: none;
    top: 190px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pictureOfMonth {
    min-height: 50vh;
    opacity: 70%;
    margin: 0;
  }
  .mainTitle {
    padding: 10px;
  }
}
