.quizz {
  text-align: center;
  padding: 2%;
  border: solid;
  border-radius: 7px;
  margin-top: 15%;
}

@media screen and (min-width: 768px) {
  .quizz {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  margin: 0 15%;
  /*  font-size: 24 px;*/
}

@media screen and (min-width: 768px) {
  h1 {
    display: none;
  }
}

h2 {
  font-size: 18px;
  /*min-width: 100px;*/
  padding: 5%;
  /*margin-top: 10px;*/
  /*margin: 5%;*/
  border: solid;
  border-radius: 15px;
  text-align: center;
  border-color: white;
  background: rgba(196, 196, 196, 0.22);
}

h3 {
  font-size: 24px;
  margin-bottom: 10%;
}

.bloc {
  color: white;
  /*background-color: black;*/
  margin: 0 5% 12% 5%;
  padding: 5%;
  background: rgba(196, 196, 196, 0.22);
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .bloc {
    margin: 70px;
  }
}

.question {
  min-width: 50px;
  border-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 2% 9%;
}

.ligne1 {
  height: 2px;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: grey;
}

.reponse {
  text-align: center;
}

.myButtons {
  border: solid;
  width: 82%;
  margin: auto;
  /*margin-top: 10%;*/
}

@media screen and (min-width: 560px) {
  .myButtons {
    border: none;
    display: flex;
    justify-content: space-around;
  }
}

.button1,
.button2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30%;
  margin-right: 30%;
}

@media screen and (min-width: 560px) {
  .button1,
  .button2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.ligne2 {
  border: solid;
  height: 12px;
  width: auto;
  backgroundcolor: green;
  /*border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);*/
  /*margin-bottom: 300px;*/
}

/*
.ligne1 {
  height: 2px;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: grey;
}*/

/*backgroundcolor: green;
  height: 5px;*/
/* margin: 20px 5%;*/
/*margin: 50px;*/
