.quizz {
  text-align: center;
  padding: 2%;
  border: solid;
  border-radius: 7px;
  margin: 10% 15%;
}

@media screen and (min-width: 768px) {
  .quizz {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
}

.bloc {
  color: white;
  margin: 0 5% 12% 5%;
  padding: 5%;
  background: rgba(196, 196, 196, 0.22);
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .bloc {
    margin: 70px;
  }
}

.question,
.reponse {
  font-size: 24px;
  text-align: center;
  padding: 2% 0%;
}

.ligne1 {
  height: 2px;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: grey;
}

.myButtons {
  width: 50%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .myButtons {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.button1,
.button2 {
  width: 100%;
  margin-top: 15%;
}

@media screen and (min-width: 768px) {
  .button1,
  .button2 {
    margin: 0 5%;
  }
}

.buttonYes,
.buttonNo {
  font-size: 22px;
  padding: 5%;
  min-width: 100px;
  margin-top: 10px;
  border: solid;
  border-radius: 15px;
  text-align: center;
  border-color: white;
  background: rgba(196, 196, 196, 0.22);
}

.ligne2 {
  height: 2px;
  margin: 10% 5%;
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .ligne2 {
    display: none;
  }
}
