/* RESULTS PAGE CSS*/

.resultTitleContainer {
  color: #c4c4c4;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.chooseOneTitle {
  border-radius: 10px;
  border: solid 2px #c4c4c4;
  padding: 10px;
}

.resultsContainer {
  margin: 40px 15px;
}

.resultContentContainer {
  color: #ddd4d4;
  display: flex;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  margin: 20px 15px 0px 15px;
  padding: 5px 10px;
  background: rgba(196, 196, 196, 0.22);
}

/* RESULT API CONTAINER CSS */

.plotContainer {
  height: 200px;
  overflow: auto;
}
.textContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.pictureOfMonthR {
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
}
.knowMoreMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.knowPara {
  margin-top: 80px;
  text-decoration: none;
  color: #c4c4c4;
  font-style: italic;
  font-size: 13pt;
}
.actorsPara {
  font-size: 13pt;
  font-weight: bold;
}
.runtime {
  font-size: 10pt;
}
.plot {
  font-size: 10pt;
  font: inherit;
}

@media screen and (min-width: 900px) {
  /* RESULTS PAGE CSS */

  .resultPageMainContainer {
    margin: 0px 40px;
    padding: 20px 0px;
    min-height: 88vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .resultTitleContainer {
    margin: 0px 0px 30px 0px;
  }

  .resultsContainer {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .chooseOneTitle {
    font-size: 20pt;
  }

  .resultContentContainer {
    align-items: center;
    width: 50%;
    margin: 10px;
  }

  /* RESULT API CONTAINER CSS */

  .plotContainer {
    margin: 0px;
  }
  .actorNoPic {
    line-height: 15pt;
  }

  .secondContainerContents {
    align-items: center;
    width: 50%;
  }
  .pictureOfMonthR {
    height: 300px;
    margin: 10px 10px;
  }
  .textContainer {
    font-size: 20pt;
    margin-top: 20px;
    height: 100%;
  }

  .knowPara {
    margin-bottom: 40px;
    font-size: 15pt;
  }
  .runtime {
    font-size: 13pt;
  }
  .plot {
    font-size: 17pt;
  }
}
