@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

body {
  font-family: 'Abhaya Libre', serif;
  color: #c4c4c4;
}

.loadingCircle {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  width: 100%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.h1title {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}

.titleDesktop {
  display: none;
}

.firstContainer {
  display: flex;
  flex-direction: column;
}

/* FILTRES */

.filterGridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90%;
  margin: auto auto 10px auto;
  background: rgba(196, 196, 196, 0.22);
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.filterContainer {
  margin: 10px;
  min-width: 50%;
}

.h2title {
  font-size: 11pt;
  text-align: center;
}

.filterFond {
  background-color: #fff;
  height: 70px;
  margin-top: 5px;
  color: black;
  font-size: 15pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
  overflow: auto;
  width: 100%;
}

.filterContainerReinitialiser {
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}

.filterContainerReinitialiser > p {
  cursor: pointer;
  font-size: 12pt;
}

.filterContainerReinitialiser > p:hover {
  color: orange;
}

/* FILMS */

.filmGridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.filmContainer {
  display: flex;
  width: 90%;
  height: 27vh;
  margin: 10px auto;
}

.filmAfficheContainer {
  width: 40%;
}

.filmAffiche {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.filmDetails {
  width: 60%;
  height: 100%;
  font-size: 10pt;
}

.filmPlot {
  height: 55%;
  width: 80%;
  overflow: auto;
  text-align: center;
  margin: 5px auto 0px auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 14pt;
}

.filmPlot::-webkit-scrollbar {
  display: none;
}

.filmDetailPlus {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filmButtons {
  margin-top: 20px;
}

.buttons {
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  padding: 8px;
  background: rgba(196, 196, 196, 0.22);
  margin-right: 5px;
  cursor: pointer;
}

.filmDetailPlus > a {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
  /* LAYOUT */

  .bodyContainer {
    padding: 40px 0px;
  }

  .title {
    width: 100%;
    margin: 0px auto 0px auto;
  }

  .h1title {
    margin-right: 40px;
  }

  .titleDesktop {
    display: initial;
  }

  .firstContainer {
    flex-direction: row;
    width: 90%;
    margin: 50px auto 0px auto;
  }

  /* FILTRE */
  .filterGridContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 20%;
    min-height: 90vh;
    height: 100%;
  }

  .filterContainerReinitialiser {
    padding: 10px 10px 20px 10px;
    font-size: 20pt;
  }

  .filterContainerReinitialiser > p {
    font-size: 16pt;
  }

  .h2title {
    font-size: 14pt;
    text-align: center;
  }

  /* FILM */
  .filmGridContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin-left: 20px;
    margin-top: 50px;
    height: 80vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .filmGridContainer::-webkit-scrollbar {
    display: none;
  }

  .filmPlotOverflow {
    width: 111%;
  }
}
