@import url('https: //fonts.google.com/share?selection.family=Abhaya%20Libre');
body {
  font-family: 'Abhaya Libre', serif;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #ffce31;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  color: black;
  font-size: 15px;
  margin-left: 5px;
}

.logo-content {
  display: flex;
  align-items: flex-end;
}

.logo {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

.webName {
  font-size: 12pt;
}

@media screen and (min-width: 900px) {
  .main-footer {
    border-top: 10px solid white;
  }
}
