.main-footer {
  display: flex;
  background: #ffce31;
  justify-content: space-between;
  border-top: solid 10px white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  color: #000;
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}

.logo-content {
  display: flex;
  align-items: flex-end;
}

.logo {
  height: 30px;
  width: 20;
}

.title {
  font-size: 12px;
  margin-right: 10px;
  color: #000;
}
