.nav {
  height: 6vh;
  background: linear-gradient(45deg, rgb(16, 14, 156), #3f92a8);
  display: flex;
}

.liste {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: linear-gradient(45deg, rgb(16, 14, 156), #3f92a8);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 56px;
}

.items {
  margin-right: 10px;
  color: #f1f1f1;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background: rgba(196, 196, 196, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: none;
}

@media screen and (max-width: 500px) {
  .liste {
    flex-direction: column;
    height: 200px;
    width: 50%;

    top: 6vh;
    left: 15vh;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
  }
  .items :nth-child(1) {
    border-top: 1px solid #f1f1f1;
    margin-top: 50px;
  }
  .items {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #fff;
    line-height: 50px;
  }
  .btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 5px;
    height: 4vh;
    width: 50px;

    cursor: pointer;
  }
}
