@import url('https: //fonts.google.com/share?selection.family=Abhaya%20Libre');
body {
  font-family: 'Abhaya Libre', serif;
}

.nav {
  height: 8vh;
  background: #ffce31;
  display: flex;
  color: black;
}

.liste {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffce31;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.item {
  width: 30px;
  height: 30px;
}

.items {
  margin-right: 10px;
  color: black;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

.btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav {
    background: #ffce31;
    display: flex;
  }

  .liste {
    flex-direction: column;
    position: fixed;
    height: 240px;
    width: 50%;
    top: 8vh;
    right: 0;
    z-index: 2;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    z-index: 2;
  }
  .items :nth-child(1) {
    border-top: 1px solid #f1f1f1;
    margin-top: 50px;
  }
  .items {
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-right: 0px;
    z-index: 2;
  }
  .btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    height: 4vh;
    width: 50px;
    cursor: pointer;
    color: black;
  }

  .btn2 {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    height: 4vh;
    width: 50px;
    cursor: pointer;
    color: black;
  }

  .desktopText {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .btn {
    display: none;
  }

  .btn2 {
    display: none;
  }
}
