@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Abhaya Libre', serif;
  font-size: 10pt;
}

.profilPageContainer {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 20px 0px;
}

/* Profil Detail */

.profilContainer > h1 {
  text-align: center;
  font-size: 20pt;
  padding: 45px 0px 20px 0px;
}

.profilContainer {
  height: 30vh;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px 20px;
}

.profil {
  display: flex;
  align-items: center;
}

.profilDescription {
  font-size: 10pt;
}

.profilDescription li {
  margin: 5px;
}

.profilBio {
  display: none;
}

.profilName {
  display: none;
}

/* Achievement */

.achievement {
  border: 1px solid #c4c4c4;
  border-radius: 5%;
  margin: 0px 20px;
  height: 20vh;
  background: rgba(196, 196, 196, 0.22);
}

.achievementTitle {
  width: 50%;
}

.achievementList {
  display: flex;
  margin: 2px 0px;
}

.achievement p {
  padding-left: 10px;
}

.achievementProgressBar {
  width: 50%;
  display: flex;
  align-items: center;
}

/* Favoris */

.filmsFavoris {
  display: flex;
  justify-content: space-between;
  height: 30vh;
}

.imgFilm {
  width: 100px;
  height: 150px;
  border-radius: 5%;
  border: 1px solid white;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .profilPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

  .profilSecondContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    height: 70%;
    justify-content: center;
  }

  .profilFirstContainer {
    width: 30%;
    height: 50%;
    margin-right: 30px;
  }

  /* Profil Detail */

  .profil {
    flex-direction: column;
  }

  .profilName {
    display: initial;
  }

  .img {
    margin-top: 40px;
  }

  .profilContainer > h1 {
    display: none;
  }

  .profilDescription {
    display: none;
  }

  /* Profil bio paragraph*/
  .profilBio {
    display: initial;
    margin-top: 20px;
    width: 300px;
    border: 1px solid grey;
    background: rgba(196, 196, 196, 0.22);
    border-radius: 10px;
  }

  .profilBio p {
    padding: 10px;
  }

  /* Favoris */

  .filmsFavoris {
    justify-content: space-around;
    margin: 0px auto;
    width: 80%;
  }
}
