@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
